on: [pull_request]

name: Register schemas (dry run)

env:
  RENV_PATHS_ROOT: ~/.local/share/renv

jobs:
  register-schemas-dryrun:
    runs-on: macos-10.15
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v2

      - uses: r-lib/actions/setup-r@master
        with:
          r-version: '4.0'

      - name: Cache packages
        uses: actions/cache@v1
        with:
          path: ${{ env.RENV_PATHS_ROOT }}
          key: ${{ runner.os }}-renv-${{ hashFiles('**/renv.lock') }}
          restore-keys: |
            ${{ runner.os }}-renv-

      - name: Restore packages
        shell: Rscript {0}
        run: |
          if (!requireNamespace("renv", quietly = TRUE)) install.packages("renv")
          renv::restore()

      - name: Set up Synapse config file for testing
        run: |
          OUTPUT_FILE=~/.synapseConfig
          cat > "$OUTPUT_FILE" << EOM
          [authentication]
          username = "${{ secrets.SYNAPSE_USER }}"
          apikey = "${{ secrets.SYNAPSE_APIKEY}}"
          EOM
          chmod +x "$OUTPUT_FILE"
          pwd

      - name: Get file changes
        id: get_file_changes
        uses: trilom/file-changes-action@v1.2.4
        with:
          output: ','

      - name: Attempt to register schemas with dryRun = true
        run: |
          files="${{ steps.get_file_changes.outputs.files_added }},${{ steps.get_file_changes.outputs.files_modified }}"
          echo $files | tr ',' '\n' | grep -Z '^terms' | xargs ./register-schemas.R --dryRun
